<!DOCTYPE html>
<html>
   <head>
      <title>{{meta_title}}</title>
      <meta name="HandheldFriendly" content="True" />
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" type="text/css" href="{{asset "css/argon.css"}}" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
      <link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css">

      <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
      <link rel="stylesheet" type="text/css" href="{{asset "css/error.css"}}" />
   </head>
   <body class="bg-success error">
      <main>
        <div class="position-relative">
          <section class="section-shaped my-0 section section-lg margin-fix">
            <div class="container">
              <div class="row row-grid align-items-center">
                <div class="col-md-4 order-md-2">
                  <object data="{{asset "svg/error_404.svg"}}" class="img-fluid"></object>
                </div>
                <div class="col-md-8 order-md-1">
                  <div class="pr-md-5">
                    <h3 class="error-section-title text-white">Error {{statusCode}}</h3>
                     <p class="text-secondary">
                        {{message}}
                        <br/>
                        If this error persists, you are encouraged to <a class="text-white thick-500" href="mailto:hello@melon.gg">contact us</a>.<br/><br/><a href="/" class="text-white letter-compress thick-500 shine"><b>Click to go home</b></a>
                     </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </main>
    </body>
</html>