{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{> "nav"}}
<main>
    <div class="position-relative">
        <section class="section section-lg section-shaped landing-margin">
            <div id="particles" class="particle"></div>
            <div class="shape shape-style-1 shape-default"></div>
            <div class="py-lg-md d-flex container">
                <div class="col px-0">
                    <div class="row">
                        <div class="lg-order-1 col-lg-8">
                            <h1 class="display-3 text-white landing-header">
                                Melon Games
                                <span class="landing-tagline shine">ahahaha funny gameing time</span>
                            </h1>
                            <p class="join-today text-white pt-4">
                                <button class="btn btn-dark text-lowercase thick-300 shine">Join <b>0 players</b> on <b>play.melon.gg</b></button>
                            </p>
                        </div>
                        <div class="lg-order-2 col-lg-4"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="section section-lg" id="site-main">
        <div class="container">
            <div class="row-grid align-items-center row">
                <div class="order-md-1 col-md-12">
                    <div class="pr-md-5">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="icon icon-shape icon-shape-success shadow rounded-circle mb-5">
                                    <i class="fa fa-journal-whills fa-fw"></i>
                                </div>
                            </div>
                            <div class="section-icon-position col-md-10">
                                <h4 class="text-success section-header">Recent News</h4>
                            </div>
                        </div>
                        <p class="latest-post-info">
                            {{#foreach posts limit="1"}}
                                The latest post, <a href="{{url}}" class="text-gray-dark thick-400 shine">{{title}}</a>, was authored by <b>{{#has author="count:>2"}}multiple authors{{else}}{{authors}}{{/has}}</b> on {{date published_at format="MMMM Do YYYY, h:mm a"}}.
                            {{/foreach}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-deck">
                {{#foreach posts limit="3"}}
                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/foreach}}
            </div>
        </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row-grid align-items-center row">
                <div class="order-md-1 col-md-12">
                    <div class="pr-md-5">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="icon icon-shape icon-shape-success shadow rounded-circle mb-5">
                                    <i class="fa fa-ellipsis-h fa-fw"></i>
                                </div>
                            </div>
                            <div class="section-icon-position col-md-10">
                                <h4 class="text-success section-header">View All News</h4>
                            </div>
                        </div>
                        <p class="latest-post-info">
                            Looking for something a bit older than the above posts? We've got you covered.
                            <br>
                            <br>
                            <a class="btn btn-dark shine" href="/posts"><i class="fa fa-angle-right fa-fw"></i> view all previous posts</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
