{{!< default}}

<link rel="stylesheet" href="{{asset "css/thread.css"}}">

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> "nav"}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main bg-primary">
    {{!-- <progress class="reading-progress-bar"></progress> --}}
    <div class="position-relative">
        <section class="section section-lg section-shaped landing-margin">
            <div id="particles" class="particle"></div>
            <div class="shape shape-style-1 shape-default"></div>
            <div class="container">
                <div class="text-center justify-content-center row">
                    <div class="col-lg-10">
                        <h2 class="display-3 text-white title">{{title}}</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg pt-9 section-content">
            <div class="container">
                <div class="justify-content-center mt--300 row">
                    <div class="col-lg-12">
                        <div class="bg-success-darker shadow-lg no-rad card">
                            <nav class="navbar-horizontal navbar-dark bg-success-darker navbar navbar-expand-lg">
                                <div class="container">
                                    <h3 class="text-white text-no-transform">
                                        <div class="avatar-group author-group">
                                            {{#foreach authors}}
                                                <a href="{{url}}" class="avatar avatar-m rounded-circle" data-toggle="tooltip" data-original-title="{{name}}">
                                                    {{#if profile_image}}
                                                        <img alt="{{name}}" src="{{img_url profile_image size="m"}}">
                                                    {{else}}
                                                        {{> "icons/avatar"}}
                                                    {{/if}}
                                                </a>
                                            {{/foreach}}
                                            <div class="byline-content">
                                                <span class="author-string thick-400">Authored by {{#has author="count:>2"}}Multiple authors{{else}}{{authors}}{{/has}}</span>
                                            </div>
                                        </div>
                                        <div class="byline-date">
                                            <span>Published on <time class="thick-600">{{date format="MMMM Do YYYY"}}</time> at <time class="thick-600">{{date format="h:mm:ss a"}}</time></span>
                                        </div>
                                    </h3>
                                </div>
                            </nav>
                        </div>
                        <div class="bg-gradient-secondary shadow card">
                            <div class="p-lg-5 card-body">
                                {{#if feature_image}}
                                <figure class="post-full-image">
                                    <img
                                        srcset="{{img_url feature_image size="s"}} 300w,
                                                {{img_url feature_image size="m"}} 600w,
                                                {{img_url feature_image size="l"}} 1000w,
                                                {{img_url feature_image size="xl"}} 2000w"
                                        sizes="(max-width: 800px) 400px,
                                                (max-width: 1170px) 700px,
                                                1400px"
                                        src="{{img_url feature_image size="xl"}}"
                                        alt="{{title}}"
                                    />
                                </figure>
                                <hr>
                                {{/if}}
                                {{content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

{{!-- Links to Previous/Next posts --}}

<div class="container">
    <div class="card-deck">
        {{#if primary_tag}}
        {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
            {{#if related_posts}}
                <div class="card my-5 text-white text-center read-next-card" 
                    {{#if ../primary_tag.feature_image}}
                        style="background-image: url({{img_url ../primary_tag.feature_image size="m"}})"
                    {{else}}
                        {{#if @site.cover_image}}
                            style="background-image: url({{img_url @site.cover_image size="m"}})"{{/if}}
                    {{/if}}
                >
                    <div class="card-body p-3">
                        <p class="my-2">&mdash; {{@site.title}} &mdash;</p>
                        {{#../primary_tag}}
                        <h2 class="card-title"><a href="{{url}}">{{name}}</a></h2>
                        {{/../primary_tag}}
                        <div class="my-5"><i class="fas fa-infinity fa-5x"></i></div>                            
                        {{#foreach related_posts}}
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="my-1"><a href="{{url}}">{{title}}</a></p>
                                </div>
                            </div>
                        {{/foreach}}
                    </div>
                    <div class="card-footer">
                        <p class="my-3"><a href="{{#../primary_tag}}{{url}}{{/../primary_tag}}">{{plural meta.pagination.total empty='No posts' singular='% post' plural='See all % posts'}} →</a></p>
                    </div>                        
                </div>
            
        {{/if}}
        {{/get}}
        {{/if}}

        {{!-- If there's a next post, display it using the same markup included from - partials/post-card.hbs --}}
        {{#next_post}}
            {{> "post-card"}}
        {{/next_post}}

        {{!-- If there's a previous post, display it using the same markup included from - partials/post-card.hbs --}}
        {{#prev_post}}
            {{> "post-card"}}
        {{/prev_post}}
    </div>
</div>


{{!-- Floating header which appears on-scroll, included from includes/floating-header.hbs --}}
{{!-- {{> floating-header}} --}}

{{/post}}